@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: rgb(15, 15,15);
  color :aliceblue;
  margin: 0;
  overflow: hidden;

}
.videos{
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minMax(350px,500px));
  height:100vh ;
  overflow: auto;
  justify-content: center;
 
  

}
@media (max-width :768px) {
  .videos{
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 50px;
    padding: 20px;
  }
}